<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="GodotLocal" value=".tools\godot-dotnet\Godot_v4.7.1-stable_mono_win64\GodotSharp\Tools\nupkgs" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value=".tools\nuget-packages" />
  </config>
</configuration>
